footer {
  background-color: #b1c4a0;
  color: #2e2e2f;
  padding: 2.5em;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

p{
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #2e2e2f;
  font-size: 21px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

h1, h2{
  color: #873e23;
  font-size: 36px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  font-family: 'Lora', sans-serif;
}

.btt {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  background-color: #873e23;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.btt a, a:hover {
  color: #fff;
}

.form a{
  color: #2e2e2f;
}

.form a:hover{
  color: #fff;
}

.ordini {
  padding-left: 40px;
  padding-right: 40px;
}

.contatti a{
  color: #2e2e2f;
  text-decoration: none;
}

.contatti a:hover{
  color: #fff;
  text-decoration: underline;
}

.contatti2 a{
  color: #2e2e2f;
  text-decoration: none;
}

.contatti2 a:hover{
  color: #873e23;
  text-decoration: underline;
}

.contatti2{
  padding-left: 40px;
  padding-right: 40px;
  font-size: 19px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.altri-contatti{
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #2e2e2f;
  font-size: 21px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.foglia{
  position: relative;
  top: -4.7px;
  height: 30px;
  width: auto;
}

.banda {
  background-color: rgba(234, 182, 118, 0.2);
}

.navbar {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

label {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}
